<div class="pb-4 transform transition duration-500 <%= "hover:scale-110" if (params[:controller] != 'bookings') %>">
  <div class="max-w-full p-2 bg-white <%= params[:controller] != 'bookings' ? "rounded-xl" : "rounded-b-2xl" %> flex flex-col overflow-hidden shadow-xl">
    <div id="flight-card" class="flex flex-row rounded-lg items-baseline flex-nowrap p-4">
      <svg viewBox="0 0 64 64" data-testid="tripDetails-bound-plane-icon" pointer-events="all" aria-hidden="true" class="mt-2 mr-1" role="presentation" style="fill: rgb(102, 102, 102); height: 0.9rem; width: 0.9rem;">
        <path d="M43.389 38.269L29.222 61.34a1.152 1.152 0 01-1.064.615H20.99a1.219 1.219 0 01-1.007-.5 1.324 1.324 0 01-.2-1.149L26.2 38.27H11.7l-3.947 6.919a1.209 1.209 0 01-1.092.644H1.285a1.234 1.234 0 01-.895-.392l-.057-.056a1.427 1.427 0 01-.308-1.036L1.789 32 .025 19.656a1.182 1.182 0 01.281-1.009 1.356 1.356 0 01.951-.448l5.4-.027a1.227 1.227 0 01.9.391.85.85 0 01.2.252L11.7 25.73h14.5L19.792 3.7a1.324 1.324 0 01.2-1.149A1.219 1.219 0 0121 2.045h7.168a1.152 1.152 0 011.064.615l14.162 23.071h8.959a17.287 17.287 0 017.839 1.791Q63.777 29.315 64 32q-.224 2.685-3.807 4.478a17.282 17.282 0 01-7.84 1.793h-9.016z"></path>
      </svg>
      <h1 class="ml-2 uppercase font-bold text-gray-500">departure</h1>
      <p class="ml-2 font-normal text-gray-500"><%= flight.start_time.strftime('%^a, %d %^b %Y %H:%M') %></p>
    </div>
    <div class="flex sm:flex-row sm:justify-between flex-wrap ">
      <div class="flex flex-row place-items-center p-2">
        <div class="flex flex-col ml-2">
          <% code = IsoCountryCodes.find(t('code', code: flight.departure_airport.code)) %>
          <p class="text-xs text-gray-500 font-bold"><%= code.name %> Airways</p>
          <p class="text-xs text-gray-500"><%= code.alpha3 + flight.id.to_s %></p>
          <div class="text-xs text-gray-500"><%= @passengers %>*23kg</div>
        </div>
      </div>
      <div class="flex flex-col p-2">
        <p class="text-gray-500">From</p>
        <span class="font-bold"><%= flight.departure_airport.code %></span>
      </div>
      <div class="flex flex-col flex-wrap p-2">
        <p class="text-gray-500">To</p>
        <span class="font-bold"><%= flight.arrival_airport.code %></span>
      </div>
      <div class="flex flex-col flex-wrap p-2">
        <p class="text-gray-500">Duration</p>
        <span class="font-bold"><%= flight.duration %></span>
      </div>
      <% if params[:controller] != 'flights' %>
        <div class="flex flex-col flex-wrap p-2">
          <p class="text-gray-500">Passengers</p>
          <span class="font-bold"><%= @passengers %></span>
        </div>
      <% end %>
      <div class="flex flex-col flex-wrap p-2">
        <p class="text-gray-500">Price</p>
        <span class="font-bold">$<%= flight.price %></span>
      </div>
      <% if params[:controller] != 'flights' %>
        <div class="flex flex-col flex-wrap p-2">
          <p class="text-gray-500">Total price</p>
          <span class="font-bold">$<%= flight.price * @passengers.to_i %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
