<%= form_with(url: '/flights', method: "get") do |form| %>
  <% label_style = 'mb-2 text-gray-900 leading-tight font-medium' %>
  <% container_style = 'my-2 p-4 flex flex-col' %>
  <% select_style = 'inline-flex justify-center pr-8 px-4 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800' %>
  <div class="<%= container_style %>">
    <div class="flex justify-between">
      <%= form.label :departure_airport_id, 'Origin', class: label_style %>
      <svg class="h-4 w-4 text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <path d="M15 12h5a2 2 0 0 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3z" transform="rotate(-15 12 12) translate(0 -1)" />  <line x1="3" y1="21" x2="21" y2="21" /></svg>
    </div>
    <%= form.select(:departure_airport_id, @airports, {selected: params[:arrival_airport_id]}, { :class => select_style }) %>
  </div>
  <div class="<%= container_style %>">
    <div class="flex justify-between">
      <%= form.label :arrival_airport_id, 'Destination', class: label_style %>
      <svg class="h-4 w-4 text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <path d="M15 12h5a2 2 0 0 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3z" transform="rotate(15 12 12) translate(0 -1)" />  <line x1="3" y1="21" x2="21" y2="21" /></svg>
    </div>
    <%= form.select(:arrival_airport_id, @airports, {selected: params[:arrival_airport_id]}, { :class => select_style }) %>
  </div>
  <div class="<%= container_style %>">
    <div class="flex justify-between">
      <%= form.label :date, class: label_style %>
      <svg class="h-4 w-4 text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z" />  <rect x="4" y="5" width="16" height="16" rx="2" />  <line x1="16" y1="3" x2="16" y2="7" />  <line x1="8" y1="3" x2="8" y2="7" />  <line x1="4" y1="11" x2="20" y2="11" />  <line x1="11" y1="15" x2="12" y2="15" />  <line x1="12" y1="15" x2="12" y2="18" /></svg>
    </div>
    <%= form.select(:start_time, @date_options, {selected: params[:arrival_airport_id]}, { :class => select_style }) %>
  </div>
  <div class="<%= container_style %>">
    <div class="flex justify-between">
      <%= form.label :passengers, class: label_style %>
      <svg class="h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
    </div>
    <%= form.select(:passengers, options_for_select(1..4, selected: params[:passengers]), {}, { :class => select_style } ) %>
  </div>
  <div class="<%= container_style %>">
    <%= form.submit 'Search', class: "inline-flex justify-center rounded-lg py-3 px-5 bg-blue-500 text-white font-medium cursor-pointer" %>
  </div>
<% end %>
