<%= form_with(url: root_path, method: "get") do |form| %>

  <div class="my-5">
    <%= form.label :departure_airport_id, 'Origin', style: "display: block" %>
    <%= form.select(:departure_airport_id, @airports, selected: params[:departure_airport_id]) %>
  </div>

  <div class="my-5">
    <%= form.label :arrival_airport_id, 'Destination', style: "display: block" %>
    <%= form.select(:arrival_airport_id, @airports, selected: params[:arrival_airport_id]) %>
  </div>

  <div class="my-5">
    <%= form.label :date, style: "display: block" %>
   <%= form.select(:start_time, @date_options, selected: params[:start_time]) %>
  </div>

  <div class="my-5">
    <%= form.label :passengers, style: "display: block" %>
    <%= form.select(:passengers, options_for_select(1..4, selected: params[:passengers])) %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
